/* Theme */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

/* variables*/
:root {
    --white: #fef6f2;
    --black: #212121;
    --gray: #85888c;
    --orange: #ff925e;
    --dark-orange: #ae6339;
    --violet: #7c86ff;
    --accent-orange: #632100;
    --red-alert: #be0a06;
    --blue-edit: #3590d5;
    --green-success: #35902d;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--violet);
}

ul {
    list-style: none;
}

/* Fonts */

h1 {
    font-family: 'Alegreya', serif;
    font-size: 52px;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    -webkit-text-fill-color: var(--white);
    line-height: 50px;
}

h2 {
    font-family: 'Alegreya', serif;
    font-size: 35px;
    font-weight: 400;
}

.section_title {
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 130%;
    color: var(--white);
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h3.chapo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

h3.hero_text_title {
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    position: relative;
    padding-bottom: 30px;
}

h3.hero_text_title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--orange);
    display: inline-block;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

p {
    color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

p.hero_text_title {
    font-style: italic;
    font-weight: 600;
}

.text-centered {
    text-align: center;
    padding: 10px 15px;
}

.text__highlight {
    font-weight: 800;
    text-transform: capitalize;
}

.text__highlight-colored {
    font-weight: 800;
    color: var(--violet);
}

.sm-title {
    font-size: 21px;
}

/* flash messages */

.message-flash {
    padding: 0.5em 1em;
    width: 33%;
    border-radius: 4px;
    max-width: 33%;
    margin: 0 auto;
}

.message-flash.success {
    background-color: #b5ddb1;
    color: var(--green-success);
    border: 1px solid var(--green-success);
}

.message-flash.error {
    background-color: #cf9493;
    color: var(--red-alert);
    border: 1px solid var(--red-alert);
}

.message-flash.notice {
    background-color: #b0cde4;
    color: var(--blue-edit);
    border: 1px solid var(--blue-edit);
}

/* wrap content */
.main__content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.hero_text_title {
    padding: 15px;
}

.logo-container {
    flex-shrink: 0;
}

/* Logo header */
.header_logo {
    display: flex;
    max-height: 25px;
    margin: 30px 25px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 82px;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px;
}

.menu a:hover {
    background-color: var(--violet);
    color: var(--white);
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Button */

button {
    background-color: var(--orange);
    border: none;
    color: var(--white);
    padding: 15px 20px;
    margin: 20px 0;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    opacity: 1;
    transition: 0.3s;
}

button:hover {
    background-color: var(--violet);
    color: white;
    cursor: pointer;
}

button.create:hover {
    background-color: var(--green-success);
    color: var(--white);
    cursor: pointer;
}

button.edit:hover {
    background-color: var(--blue-edit);
    color: var(--white);
    cursor: pointer;
}

button.delete:hover {
    background-color: var(--red-alert);
    color: var(--white);
    cursor: pointer;
}

button.back {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    display: flex;
    margin: 20px auto;
}

button.back:hover {
    background-color: var(--gray);
    color: var(--black);
    border: 1px solid var(--white);
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* Hero */
.hero_image {
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_text {
    text-align: center;
    color: var(--white);
}

/* Section */
section,
footer {
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*articles content*/
.articles__wrapper {
    display: grid;
    width: 100%;
    max-width: 1200px;
}

.article {
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.article img {
    width: 100%;
    height: auto;
    display: block;
}

.card_title,
.card_subtitle {
    text-align: center;
    box-sizing: border-box;
}

.card-infos {
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: space-around;
}

.article__content {
    padding-top: 20px;
}

.article__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

.card_title.sm {
    padding: 2px 15px 2px 15px;
}

.card_subtitle {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 2px 15px 15px 15px;
}

.card_subtitle.sm {
    padding: 2px 15px 5px 15px;
}

/* card blog */
.card-blog {
    width: 370px;
    margin: 25px 0;
    box-shadow: 0 5px 20px var(--black);
}

.card-blog_image img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

/* CRUD ADMIN */
.crud-page {
    max-width: 1340px;
    margin: 0 auto;
}

.tab {
    align-self: flex-start;
}

.tablinks {
    background: none;
    color: white;
    border-radius: 0;
    position: relative;
}

.tablinks.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
}

.tablinks:hover {
    color: var(--violet);
    cursor: pointer;
    background: none;
}

.tabcontent {
    width: 100%;
    display: none;
}

.tabcontent.active {
    display: block;
}

table {
    width: 100%;
}

table tr {
    padding: 7px 12px 7px 16px;
    margin: 3px 0;
    display: grid;
    align-items: center;
    border: var(--gray) solid 1px;
    border-radius: 8px;
}

.table-crud--articles tr {
    grid-template-columns: 1fr 1fr 1fr 240px;
}

.table-crud--users tr,
.table-crud--comments tr {
    grid-template-columns: 1fr 1fr 1fr 1fr 240px;
}

tr button {
    margin: 0;
}

.table_headers {
    border: none;
}

/* IMAGE CRUD */
.image_edit {
    max-width: 400px;
}

/* FOOTER */

footer {
    text-align: center;
    position: relative;
}

.footer_column {
    padding: 10px 0 40px 0;
    width: 400px;
}

.footer-column_RS {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.footer-column_logo {
    width: 95%;
    height: auto;
}

.footer-container_logo {
    padding-bottom: 20px;
}

.footer-column_title,
.footer-column_text {
    padding: 10px 20px;
}

.footer_column-image {
    max-width: 110px;
}

/* RS */
.social-icon {
    padding: 20px 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: flex;
}

.social-icon:hover {
    opacity: 0.7;
}

/* section */
.section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.section_image_container {
    width: 100%;
    height: auto;
}

img.section_image {
    width: 100%;
    object-fit: contain;
}

.section_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* comments */

.comments__container {
    width: 100%;
    display: flex;
}

.comments__container-wrapper {
    width: 700px;
    margin: auto;
    align-items: center;
    padding: 10px;
    border: var(--black) solid 1px;
    border-radius: 8px;
    background-color: #2f3031;
}

/* form */
input,
select,
textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    width: 100%;

}

label {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: var(--white);
}

.form {
    width: 100%;
    padding: 20px;
}

.button-form {
    width: 100%;
}

/* Responsive */

/* desktop */
@media (min-width: 1024px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--violet);

    }

    .hamb {
        display: none;
    }

    button.back {
        margin: 20px 100px;
    }
    
    .articles__wrapper {
        grid-template-columns: 3fr 2fr;
    }

    .articles__wrapper--secondary .article {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .articles__wrapper--secondary .article img {
        width: 200px;
        max-height: 100px;
        object-fit: cover;
    }

    .articles__wrapper--secondary {
        row-gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .articles__wrapper--main .article__content {
        padding-top: 20px;

    }

    .articles__wrapper--secondary .article__content {
        width: 200px;

    }

    .footer-container {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    /* Background */
.noise-background {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.2s infinite;
    opacity: 0.9;
    visibility: visible;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -5%);
    }

    20% {
        transform: translate(-10%, 5%);
    }

    30% {
        transform: translate(5%, -10%);
    }

    40% {
        transform: translate(-5%, 15%);
    }

    50% {
        transform: translate(-10%, 5%);
    }

    60% {
        transform: translate(15%, 0);
    }

    70% {
        transform: translate(0, 10%);
    }

    80% {
        transform: translate(-15%, 0);
    }

    90% {
        transform: translate(10%, 5%);
    }

    100% {
        transform: translate(5%, 0);
    }
}

    h1 {
        font-size: 66px;
    }

    .hero_image {
        min-height: 85vh;
    }

    h1.hero_text_title {
        font-size: 80px;
        line-height: 66px;
    }

    .main-blog {
        max-width: 1360px;
        margin: 0 auto;
    }

    .article__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .article__card {
        width: 400px;
    }

    .section_image_container {
        width: 100%;

    }

    .section_image_container.blog {
        width: 900px;
        max-height: 400px;
        overflow: hidden;
    }

    .section_content_container {
        padding: 0 0 0 50px;
        width: 50%;
    }

    .section_content_container.blog {
        align-items: flex-start;
        padding: 40px 0 0 0;
    }

    .section_content_container.contact {
        width: 100%;
        padding: 0;
    }

    .text-centered {
        text-align: left;
        padding: 0 0 15px 20px;
    }

    .text-centered.blog {
        padding: 10px;
    }

    .section_container {
        flex-direction: row;
    }

    .section_container.blog {
        flex-direction: column;
        align-items: center;
    }

    .button-form {
        width: auto;
        float: right;
    }

    .footer {
        justify-content: space-around;
        margin: auto;
        padding: 30px 20%;
    }

    .footer_column:first-child {
        width: 400px;
    }
}