<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://assets.iceable.com/ https://fonts.googleapis.com/ https://fonts.gstatic.com/; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' 'unsafe-eval';">
    <meta name="referrer" content="origin" />

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <title>{% block title %}Julie Pariona Osco - Développeuse web{% endblock title %}</title>

    {% block stylesheets %}{% endblock %}
    <link href="/assets/style/style.css" rel="stylesheet">
    {% block javascripts %}{% endblock %}
    <script src="/assets/js/main.js"></script>
</head>

{% include "parts/_header.html.twig" %}

<div class="noise-background"></div>
<div class="main__content">
    {% if messages is defined %}
        {% for message_flash in messages %}
            <div class="message-flash {{ message_flash.type }}">{{ message_flash.message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock content %}
</div>

{% include "parts/_footer.html.twig" %}

</html>