{% extends "base.html.twig" %}

{% block content %}
    <!-- Main content -->
    <main>
        <section>
            <h2 class="dark_title section_title">
                Me contacter
            </h2>
        
            <div class="section_container">
                    <div class="form">
                        <form method="post" action="" id="booking-form">
                            <label for="name">Nom et prénom</label><br>
                            <input type="text" id="name" name="name" placeholder="Nom"><br>
                            <label for="email">Email</label><br>
                            <input type="email" id="email" name="email" placeholder="Email "><br>
                            <label for="subject">Sujet de la demande</label><br>
                            <input type="text" name="subject" id="" placeholder="Objet">
                            <br>
                            <label for="message">Votre message</label><br>
                            <textarea name="message" id="" cols="100" rows="10"></textarea>
                            <br>
                            <button class="button-form white-btn" type="submit">Envoyer</button>
                        </form>
                    </div>
            </div>
        </section>
    </main>

{% endblock content %}