<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julie Pariona Osco - Blog</title>
    <link href="../public/assets/style/style.css" rel="stylesheet">
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <!--logo-->
        <div class='image-container'>
            <a href="#"><img class="header_logo" src="" alt="Logo"></a>
        </div>

        <!--HAMBURGER ICON-->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!--NAV-->
        <nav class="nav">
            <ul class="menu">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Le blog</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>


    <!-- Main content -->
    <main>
        <section class="light-bg">
            <h2 class="dark_title section_title news">
                Blog
            </h2>
            <h3 class="dark_text text-centered news">
                <br>Lorem ipsum dolor sit amet
            </h3>
            <div class="section_container news">
                <div class="section_image_container news">
                    <img class="section_image" src="https://picsum.photos/640/360" alt="Lorem ipsum">
                </div>
                <div class="section_content_container news">
                    <p class="dark_text text-centered news"><i>08 juillet 2022</i>
                    </p>
                    <p class="dark_text text-centered news">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aut, repellat vitae consequatur laboriosam eligendi blanditiis sit quam adipisci voluptas sed.
                        Dolor explicabo in dignissimos nam libero porro aut dicta veniam!
                    </p>
                    </div> 
                </div>
            </div>
        </section>
    </main>




    <!--FOOTER-->
    <footer class="footer dark-bg">
        <div class="footer_column">
            <h3 class="footer-column_title light_text">Plan du site</h3>

            <div class="footer-column_RS">
                <a href="#" class="white-filter social-icon fb" alt="Facebook"><img src="" alt="Facebook"></a>
                <a href="#" class="white-filter social-icon ig" alt="Instagram"><img src="" alt="Instagram"></a>
                <a href="#" class="white-filter social-icon tt" alt="Twitter"><img src="" alt="Twitter"></a>
            </div>
        </div>
    </footer>
    
</body>
</html>