<footer class="footer dark-bg">
    <div class="footer_column">
        <h3 class="footer-column_title light_text">Plan du site</h3>

        <div class="footer-column_RS">
            <a href="https://github.com/jupanaos" class="white-filter" alt="Github"><img src="" alt="Github"></a>
            <a href="#" class="white-filter" alt="">Admin</a>
        </div>
    </div>
</footer>