<footer class="footer dark-bg">
    <div class="footer_column">
        <h3 class="footer-column_title light_text">&Agrave; propos</h3>
        <p class="footer-column_text light_text">Je suis une jeune développeuse web avide d'apprendre. Vous pouvez retrouver mes différents travaux sur Github.</p>

        <div class="footer-column_RS">
            <a href="https://github.com/jupanaos" class="white-filter" alt="Github"><img src="uploads/GitHub-Mark-Light-64px.png" alt="Github" ></a>
        </div>
    </div>

    <div class="footer_column">
        <h3 class="footer-column_title light_text">Plan du site</h3>
            <a href="{{ "/?p=blog" }}" class="white-filter" alt="">Blog</a> <br>
            <a href="{{ "/?p=contact" }}" class="white-filter" alt="">Contact</a> <br>
            <a href="{{ "/?p=admin" }}" class="white-filter" alt="">Administration du site</a>
    </div>
</footer>