<footer class="footer dark-bg">
<div class="footer-container">
    <div class="footer_column">
        <h3 class="footer-column_title light_text">&Agrave; propos</h3>
        <p class="footer-column_text light_text">Je suis une développeuse web junior avide d'apprendre. Vous pouvez retrouver mes différents travaux sur Github. </p>

        
    </div>

    <div class="footer_column">
    <h3 class="footer-column_title light_text">Me suivre</h3>
    <div class="footer-column_RS">
            <a href="https://github.com/jupanaos" class="white-filter" alt="Github"><img src="assets/img/GitHub-Mark-Light-64px.png" alt="Github" class="footer_column-image"></a>
            <a href="https://www.linkedin.com/in/julie-pariona-osco/" class="white-filter" alt="LinkedIn"><img src="assets/img/linkedin.png" alt="LinkedIn" class="footer_column-image"></a>
        </div></div>

    <div class="footer_column">
        <h3 class="footer-column_title light_text">Plan du site</h3>
            <ul>
                <li><a href="{{ "/?p=blog" }}" class="white-filter" alt="">Blog</a> </li>
                <li><a href="{{ "/?p=contact" }}" class="white-filter" alt="">Contact</a> </li>
                <li><a href="{{ "/?p=admin" }}" class="white-filter" alt="">Administration du site</a></li>
            </ul>
    </div>
</div>

    <div class="footer_column">
    
    <p>&#169; 2022 julie-pariona.com</p>
    </div>
</footer>