<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julie Pariona Osco - Développeuse web</title>
    <link href="./styles/index.css" rel="stylesheet">
</head>
<body>
    <!--NAV-->
    <header class="header">
        <!--LOGO-->
        <div class='logo-container'>
            <a href="#"><img class="header_logo" src="" alt=""></a>
        </div>

        <!--HAMBURGER ICON-->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!--MENU-->
        <nav class="nav">
            <ul class="menu">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Le blog</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero -->
    <div class="hero_image">
        <div class="hero_text">
          <h1 class="hero_text_title">Julie Pariona</h1>
          <h3>Développeuse web</h3>
          <a href="/contact.php"><button>Me contacter !</button></a>
        </div>
      </div> 

    <!-- Main content -->
    <main>
        <section class="main-blog">
            <h2 class="dark_title section_title">
                Actualités
            </h2>
            <div class="cards">
                <div class="card-blog">
                    <a href="#">
                    <div class="card-blog_image"><img src="https://picsum.photos/640/360" alt="" /></div>
                        
                            <h4 class="card_title">Titre</h4>
                        
                    </a>
                </div>
                <div class="card-blog">
                    <a href="#">
                    <div class="card-blog_image"><img src="https://picsum.photos/640/360" alt="" /></div>
                    
                            <h4 class="card_title">Titre</h4>
                        
                    </a>
                </div>
                <div class="card-blog">
                    <a href="#">
                    <div class="card-blog_image"><img src="https://picsum.photos/640/360" alt="" /></div>
                    
                        
                            <h4 class="card_title">Titre</h4>
                        
                    </a>
                </div>
            </div>

        </section>
    </main>

    <!--FOOTER-->
    <footer class="footer dark-bg">
        <div class="footer_column">
            <h3 class="footer-column_title light_text">Plan du site</h3>

            <div class="footer-column_RS">
                <a href="#" class="white-filter social-icon fb" alt="Facebook"><img src="" alt="Facebook"></a>
                <a href="#" class="white-filter social-icon ig" alt="Instagram"><img src="" alt="Instagram"></a>
                <a href="#" class="white-filter social-icon tt" alt="Twitter"><img src="" alt="Twitter"></a>
            </div>
        </div>

    </footer>
    
</body>
</html>