{% extends "base.html.twig" %}

{% block content %}

    <main>
        <section class="light-bg">
            <h2 class="light_title section_title blog">
                Blog
            </h2>
            <h3 class="text-centered blog">
                <br>{{article.title}}
            </h3>
            <div class="section_container blog">
                <div class="section_image_container blog">
                    <img class="section_image" src="https://picsum.photos/2500/1460" alt="Lorem ipsum">
                </div>
                <div class="section_content_container blog">
                    <p class="text-centered blog"><i>{{ article.createdAt|date('d/m/Y à H:i') }}</i>
                    </p>
                    <p class="text-centered blog">{{ article.content }}
                    </p>
                </div> 
            </div>
            
        </section>
        <section>
            <h2 class="dark_title section_title">
                Commentaires
            </h2>
            <div class="section_container">
                <p>Vous devez vous <a href="http://">connecter</a> ou <a href="http://">créer un compte</a> pour laisser un commentaire !</p>
            </div>
            <div class="section_container">
                <div class="form">
                    <form method="post" action="" id="comment-form">
                        <label for="message">Laisser un commentaire</label><br>
                        <textarea name="message" id="" cols="100" rows="10"></textarea>
                        <br>
                        <button class="button-form" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
            <div class="section_container">
                <div class="comments">
                {% for comment in article.comments %}
                {% endfor %}
                </div>
            </div>
            <div class="section_container">
                
            </div>
        </section>
    </main>

{% endblock content %}