{% extends "base.html.twig" %}

{% block content %}

<section>
    <h2 class="text-centered blog">
        Vous n'avez pas le droit d'accès  à cette page ! : (
    </h2>
<a href={{ "/" }}><p>&#8617; Retour</p></a>
</section>

{% endblock content %}