{% extends "base.html.twig" %}

{% block content %}

<section>
    <h2 class="text-centered blog">
        {{message}}
    </h2>
<a href={{ "/" }}><p>&#8617; Retour</p></a>
</section>

{% endblock content %}