{% extends "base.html.twig" %}

{% block content %}
    <!-- Main content -->
<main>
    <section>
        <h2 class="dark_title section_title">
            Me contacter
        </h2>
    
        <div class="section_container">
            <div class="form">
                <form method="post" action="" id="contact-form">
                    <label for="names">Nom et prénom</label><br>
                    <input type="text" id="names" name="names" placeholder="exemple: Claire Dupont"><br>
                    <label for="contact-email">Email</label><br>
                    <input type="email" id="contact-email" name="contact-email" placeholder="email@exemple.com "><br>
                    <label for="contact-subject">Sujet de la demande</label><br>
                    <input type="text" name="contact-subject" id="contact-subject" placeholder="exemple: Vos prestations">
                    <br>
                    <label for="contact-message">Votre message</label><br>
                    <textarea name="contact-message" id="contact-message" cols="100" rows="10"></textarea>
                    <br>
                    <button class="button-form white-btn" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock content %}