{% extends "base.html.twig" %}
{% block title  %}Se connecter - Blog de Jupanaos{% endblock %}

{% block content %}


<main>
    <section>
        <h2 class="dark_title section_title">
            Se connecter <br>
        </h2>
    
        <div class="section_container">
            <div class="form register">
                <form method="post" id="register-form">
                    <label for="username">Pseudo</label><br>
                    <input type="text" value="{{ _post.username }}" id="username" name="username" placeholder="Pseudo"><br>
                    <label for="password">Mot de passe</label><br>
                    <input type="password" name="password" id="" placeholder="Mot de passe">
                    <br>
                    <button class="button-form white-btn" type="submit">Se connecter</button>
                </form>
            </div>
        </div>

        <p>Nouveau par ici ? <a href="/account/register"><u>Créer un compte !</u></a></p>


    </section>
</main>



{% endblock %}