{% extends "base.html.twig" %}

{% block content %}

<h2 class="dark_title section_title">
    Tableau de bord
</h2>

<section class="crud-page">
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'articles')">Mes informations</button>
        <button class="tablinks" onclick="openTab(event, 'users')">Mes derniers commentaires</button>
    </div>
    
    <!-- Tab content -->
    <div id="articles" class="tabcontent">
        <div class="section_container">
            <div class="form register">
                <form method="post" action="" id="edit-password">
                    <label for="old-password">Mot de passe actuel</label><br>
                    <input type="password" name="old-password" id="old-password" placeholder="Mot de passe actuel">
                    <label for="new-password">Nouveau mot de passe</label><br>
                    <input type="password" name="new-password" id="new-password" placeholder="Nouveau mot de passe">
                    <label for="new-password-confirm">Confirmer le nouveau mot de passe</label><br>
                    <input type="password" name="new-password-confirm" id="new-password-confirm" placeholder="Confirmer le nouveau mot de passe">
                    <br>
                    <button class="button-form delete" type="submit">Changer le mot de passe</button>
                </form>
            </div>
        </div>
    </div>

    <div id="users" class="tabcontent">
        
    </div>


</section>

{% endblock %}