{% extends "base.html.twig" %}

{% block title %}S'inscrire - Blog de Jupanaos{% endblock %}

{% block content %}

<main>
    <section>
        <h2 class="dark_title section_title">
            Créer un compte
        </h2>
    
        <div class="section_container">
            <div class="form register">
                <form method="post" id="register-form">
                    <label for="last_name">Nom</label><br>
                    <input type="text" id="last_name" name="last_name" placeholder="ex : Dupont"><br>
                    <label for="first_name">Prénom</label><br>
                    <input type="text" id="first_name" name="first_name" placeholder="ex : Claire"><br>
                    <label for="username">Pseudo</label><br>
                    <input type="text" id="username" name="username" placeholder="votrepseudo"><br>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" placeholder="email@example.com"><br>
                    <label for="password">Mot de passe</label><br>
                    <input type="password" name="password" id="" placeholder="Mot de passe">
                    <label for="password-confirm">Confirmer le mot de passe</label><br>
                    <input type="password" name="password-confirm" id="" placeholder="Confirmer le mot de passe">
                    <br>
                    <button class="button-form white-btn" type="submit">Créer un compte</button>
                </form>
            </div>
        </div>

        <p>Avez-vous déjà un compte ? <a href="/?p=account/login"><u>Se connecter</u></a></p>
    </section>
</main>

{% endblock %}